<div class="layui-footer" style="text-align:center;">
    <!-- 底部固定区域 -->
    <a href="https://github.com/Eaststart" target="_blank" style="float:left">Github</a>
    <a href="http://www.layui.com/" target="_black">Powered by layui</a>
</div>