<div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree"  lay-filter="test">
            <li class="layui-nav-item layui-nav-itemed">
                <a class="" href="javascript:;">超级用户</a>
                <dl class="layui-nav-child">
                    <dd><a href="/admin/userSuper/add">添加</a></dd>
                    <dd><a href="javascript:;">查询</a></dd>
                </dl>
            </li>
        </ul>
    </div>
</div>