
body{
    background-color:#F5F5D5;
    color:#1C2D3F;
}

.layui-main{
    min-height:500px;
}
.layui-main{
    padding-top:60px;
    width:82%;
}
.layui-header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
}
.layui-header .layui-nav{
    background-color:#9CAEBF;
}
.layui-header>ul>li:first-of-type a h1{
    /*width:373px;*/
    height:56px;
    font-size:26px;
    /*background:url("/images/front/logo.jpg") no-repeat;*/
    /*text-indent:-9999px;*/
}
.layui-header>ul>li:nth-of-type(2){
    margin-left:120px;
}
.layui-footer{
    padding-top:10px;
    height:80px;
}
.layui-footer{
    width:80%;
    margin:20px auto 0;
    border-top:1px dashed #1C2D3F;
}
@media (max-width:953px){
    .layui-main{
        padding-top:120px;
    }
}
@media (max-width:539px){
    .layui-main{
        padding-top:60px;
    }
    .layui-header>ul>li:first-of-type a h1{
        display:none;
    }
    .layui-header>ul>li:nth-of-type(2){
        margin-left:0;
    }
}
@media (max-width:459px){
    .layui-main{
        padding-top:60px;
    }
    .layui-nav .layui-nav-item a{
        padding:0 10px;
    }
}
@media (max-width:339px){
    .layui-nav .layui-nav-item a{
        padding:0 4px;
    }
}
@media (max-width:312px){
    .layui-main{
        padding-top:60px;
    }
}
@media (max-width:267px){
    .layui-nav .layui-nav-item a{
        padding:0 1px;
    }
}
