.siteColor{width:100%;background:url(../images/siteColor.jpg) repeat-x;height:201px;}
.siteColor ul{padding-left:20px;}
.siteColor ul li strong{color:#fff;font-size:22px;margin-top:63px;margin-bottom:17px;}
.siteColor ul li strong span{color:#fbaab1;font-size:18px;height:24px;text-align:center;border-left:1px solid #fbaab1;padding-left:16px;margin-left:16px;}
.siteColor ul li i{color:#fbaab1;font-size:12px;}
.siteColor ul li a{color:#fff;font-size:14px;}
.siteNavColor{width:100%;background-color:#f7f7f7;height:60px;}
.siteNav ul li{float:right;display:block;padding:20px 17px;text-align:center;}
.siteNav ul li a{line-height:;color:#656766;font-size:12px;}
.siteNav ul li a:hover{color:#F75A53;}




























