.blog{
    position:relative;
}

.layui-main>div{
    width:100%;
    height:210px;
    border-radius:10px;
    margin:15px 0;
    border-bottom:1px solid #D9D9DC;
    box-sizing:border-box;
    padding:15px;
    position:relative;
}
.layui-main>div:hover{
    box-shadow:0 0 10px grey;
}
.layui-main>div:hover .layui-btn{
    background-color:#1E9FFF;
}
.layui-main>div .title{
    line-height:30px;
}

.layui-main>div .title>div:first-of-type>div>em{
    margin:0 10px;
}
.layui-main>div>div:nth-of-type(2){
    width:98%;
    height:90px;
    overflow:hidden;
    margin:0 auto;
}
.layui-main>div>div:nth-of-type(3){
    position:absolute;
    bottom:2%;
    right:1%;
}
.layui-main>div .title h3{
    font-size:24px;
    font-weight:500;
    margin-right:10%;
}
.layui-main>div>a{
    position:absolute;
    display:block;
    bottom:0;
    right:0;
    top:0;
    left:0;
}

@media (max-width:648px){
    .layui-main>div>div:nth-of-type(3){
        margin-top:-20px;
    }
    /*.layui-container .layui-fluid .layui-main .more{*/
        /*position:absolute;*/
        /*top:12%;*/
        /*right:1%;*/
    /*}*/
}
@media (max-width:397px){
    .layui-main>div .title .info{
        display:none;
    }
    .layui-main>div>div:nth-of-type(3){
        margin-top:-36px;
    }
    /*.layui-container .layui-fluid .layui-main .more{*/
        /*top:20%;*/
        /*right:2%;*/
    /*}*/
}
@media (max-width:313px){
    /*.layui-container .layui-fluid .layui-main .more{*/
        /*top:auto;*/
        /*right:2%;*/
        /*bottom:2%;*/
    /*}*/
}