body{
    font-size:14px;
}
.fl {
    float: left;
}

.fr{
    float:right;
}

.clearfix:after{
    content:'.';
    clear:both;
    display:block;
    height:0;
    visibility:hidden;
}

.dimBlue{
    color:#1C2D3F;
}