
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, img { margin:0; padding:0; }
a{text-decoration:none;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
i,em{font-style:normal;}
strong{font-weight:normal;}











