<% include common/header.ejs %>
<body>
<div class="layui-container">
    <div class="layui-fluid">
        <nav class="layui-header">
            <ul class="layui-nav" lay-filter="" style="background-color:#009688;">
                <li class="layui-nav-item"><a href=""></a></li>
                <li class="layui-nav-item"><a href=""></a></li>
                <li class="layui-nav-item"><a href=""></a></li>

                <li class="layui-nav-item"><a href="">关于我</a></li>
            </ul>
        </nav>
        <div class="layui-main">


        </div>
        <%include ../admin/common/cor.ejs%>
    </div>
</div>
</body>
</html>
<% include common/footer.ejs %>