<div class="lunboShow">
    <div class="layui-carousel" id="lunbo">
        <div carousel-item>
            <%for(var x=0;x<img.length;x++){%>
            <%if(img[x].kindId=='59f292cf85f435252880b918'){%>
            <div><img src="\<%=img[x].img%>" alt=""></div>
            <%}%>
            <%}%>
        </div>
    </div>
</div>
