<div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree"  lay-filter="test">
            <li class="layui-nav-item layui-nav-itemed">
                <a class="" href="javascript:;">图片管理</a>
                <dl class="layui-nav-child">
                    <dd><a href="/admin/img/imgAdd">添加图片</a></dd>
                    <dd><a href="/admin/img/imgList">图片列表</a></dd>
                    <dd><a href="javascript:;">图片查询</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item layui-nav-itemed">
                <a class="" href="javascript:;">分类管理</a>
                <dl class="layui-nav-child">
                    <dd><a href="/admin/imgKind/imgKindAdd">添加分类</a></dd>
                    <dd><a href="/admin/imgKind/imgKind">分类列表</a></dd>
                    <dd><a href="javascript:;">分类查询</a></dd>
                </dl>
            </li>
        </ul>
    </div>
</div>