.layui-form-select{
    display:none;
}
.blogTitle{
    width:300px;
    height:54px;
    overflow-y:auto;
}
#page{
    position:absolute;
    bottom:-14px;
    left:14px;
}

#profile{
    position:relative;
}
#profile img{
    width:80px;
    height:80px;
    border:1px solid #eee;
    text-align:center;
    line-height:80px;
}
#profile input{
    position:absolute;
    left:0px;
    width:80px;
    height:80px;
    opacity:0;
    filter:alpha(opacity=0);
}