<%include ../common/header.ejs%>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <% include ../common/nav.ejs%>
    <%include common/leftSide.ejs%>

    <%include common/show.ejs%>
    <%include ../common/cor.ejs%>
</div>
</body>
</html>
<%include ../common/footer.ejs%>
<script>
    layui.use('laypage', function(){
        var laypage = layui.laypage;
        //执行一个laypage实例
        laypage.render({
            elem: 'page' 
            ,count: <%=totalPage%> 
            ,limit:5
            ,curr:   <%=page%>
            ,jump: function(obj, first){
                if(!first){
                    location.href='/admin/blog/blogList?page='+obj.curr;
                }
            }
        });
    });
</script>
