<div class="case fl" id="case_Noleft">
    <img src="images/case1.jpg">
</div>
<div class="case fl">
    <img src="images/case1.jpg">
</div>
<div class="case fl" id="case_Noright">
    <img src="images/case1.jpg">
</div>
<div class="case fl" id="case_Noleft">
    <img src="images/case1.jpg">
</div>
<div class="case fl">
    <img src="images/case1.jpg">
</div>
<div class="case fl" id="case_Noright">
    <img src="images/case1.jpg">
</div>