<nav class="layui-header">
    <ul class="layui-nav" lay-filter="">
        <li class="layui-nav-item"><a href="http://52xuanxuan.com:3000"><h1>neideming</h1></a></li>
        <li class="layui-nav-item"><a href="">日志</a></li>
        <li class="layui-nav-item"><a href="">生活</a></li>
        <li class="layui-nav-item"><a href="">Lab</a></li>
        <li class="layui-nav-item"><a href="https://github.com/Eaststart" target="_blank">Github</a></li>
        <li class="layui-nav-item"><a href="">关于我</a></li>
    </ul>
</nav>