<div class="newsColor">
    <div class="middle clearfix newsBox">
        <% for(var x = 0;x < kind.length;x++){ %>
        <div class="news fl" id="news">
            <h3><%=kind[x].name%></h3>
            <ul>
                <%for(var y=0;y<list.length;y++){%>
                <%if(list[y].kindId==kind[x]._id){%>
                <li><span>10-10</span><a href=""><%=list[y].title%></a></li>
                <%}%>
                <%}%>
            </ul>
            <span class="newsMore"><a href="#">MORE INFO→</a></span>
        </div>
        <% } %>
    </div>
</div>